doctype html
html
    head
        title Panel Principal 
        link(rel="stylesheet", href="/styles.css") 
    body
        include header.pug

        h1 Bienvenido al Sistema de Gestión de Alquilarte

        nav
            ul
                li: a(href="/admin") Administración de Personal
                li: a(href="/tareas") Gestión de Tareas
                