doctype html
html
    head
        title Éxito
        link(rel='stylesheet', href='/styles.css')
    body
        include ../header.pug

        h1 Operación exitosa
        p #{mensaje}
        a(href="/admin") Volver al inicio